canvas {
margin: auto;
        background: linear-gradient(white, pink, salmon, salmon, orange, orange, lightyellow,blue, rgb(00, 100, 255), 	deepskyblue, lightblue, beige, beige, white);

    /*border: 50px solid black;
    background-color: navy;
    /*0,0,28 for navy*/
}